$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.border_l {
    border-left: solid 1px;
}
.border_r {
    border-right: solid 1px;
}
.border_t {
    border-top: solid 1px;
}
.border_b {
    border-bottom:  solid 1px;
}

.login td {
    width: 150px;
    height: 150px;
    text-align: center;
}

.login input {
    width:100px;
}

img.skill_img {
    width: 70px;
    height: 70px;
}