<ul class="list_ext">


<li ng-repeat="post in feed">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/{{post.from}}"><img class="avatar_ext large_avatar" alt="img" src="img/portrait/{{post.profile_img}}.jpg">
       <p class="name pts">{{post.from}}</p>
       </a>
       
      <div class="bd plm">

        <p class="animate-switch-container" ng-switch on="post.type">
          <a class="lowlight" ng-switch-when="request"><b>{{post.from}} has a request..</b></a>
          <a class="lowlight" ng-switch-when="acknowledgement"><b>{{post.from}} acknowledged {{post.to}} with {{post.hrs}} hours..</b></a>
          <a class="lowlight" ng-switch-when="new_member"><b>{{post.from}} has joined  {{post.organisation}}.</b></a>
          <a class="lowlight" ng-switch-default>{{post.date}}</a>
        </p>
        <p class="tweet_body pts">{{post.msg}}</p>
        <p class="pvs phm respond"><a class="" href="">comment</a> &nbsp; <a class="" href="">like</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li>

</ul>