<ul class="list_ext">


<li ng-repeat="post in feed">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/{{post.from}}"><img class="avatar_ext large_avatar" alt="img" src="img/portrait/{{post.profile_img}}.jpg">
       <p class="name pts">{{post.from}}</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="">22 months ago</a></p>
        <p class="tweet_body pts">{{post.msg}}</p>
        <p class="pvs phm respond"><a class="" href="">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li>

<li data-id="6460ac6790c60db505e18d78d37275f7">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/rach_tanner"><img class="avatar_ext large_avatar" alt="img" src="http://a1.twimg.com/profile_images/1132280108/9eab9ee1-265b-4bcd-8795-67ac8bc17ee4_normal.png">
       <p class="name pts">rach_tanner</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/rach_tanner/status/123887966539104256">22 months ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/6460ac6790c60db505e18d78d37275f7">↪</a></p>
        <p class="tweet_body pts">Luciano's has reopened (previoiusly on Moorhouse) on Orbell St in Hunter Furniture. Luciano is adorable &amp;amp; his coffee is oh so good! #chch</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/rach_tanner/status/123887966539104256">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="6460ac6790c60db505e18d78d33782b5">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/si50"><img class="avatar_ext large_avatar" alt="img" src="http://a2.twimg.com/profile_images/83891252/Si2_bw2s_normal.jpg">
       <p class="name pts">si50</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/si50/status/122511809633726464">22 months ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/6460ac6790c60db505e18d78d33782b5">↪</a></p>
        <p class="tweet_body pts">long and juddery one in Cashmere #eqnz #chch</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/si50/status/122511809633726464">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="361ee8da45b1ea4c02112e1f16edd6b6">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/ChristchurchLib"><img class="avatar_ext large_avatar" alt="img" src="http://a1.twimg.com/profile_images/1127267440/CCL-icon-Colour_normal.gif">
       <p class="name pts">ChristchurchLib</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/ChristchurchLib/status/106589747564130304">24 months ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/361ee8da45b1ea4c02112e1f16edd6b6">↪</a></p>
        <p class="tweet_body pts">Kids in Cashmere sunbathing on stretchers, 1925  <a target="_blank" href="http://ow.ly/6cemY">http://ow.ly/6cemY</a> <a href="#!/tag/sunnydayphoto">#sunnydayphoto</a> #chch</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/ChristchurchLib/status/106589747564130304">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="361ee8da45b1ea4c02112e1f16e7fb2d">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/ChristchurchCC"><img class="avatar_ext large_avatar" alt="img" src="http://a1.twimg.com/profile_images/1262393413/CCClogo_normal.png">
       <p class="name pts">ChristchurchCC</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/ChristchurchCC/status/106206052323823616">24 months ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/361ee8da45b1ea4c02112e1f16e7fb2d">↪</a></p>
        <p class="tweet_body pts">RT <a href="http://twitter.com/centralcityplan">@centralcityplan</a>: 200+ people visited <a href="#!/tag/centralcityplan">#centralcityplan</a> Roadshow at Cashmere Club today! Come join us: <a target="_blank" href="http://ow.ly/6b7Vc">http://ow.ly/6b7Vc</a> #eqnz #chch</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/ChristchurchCC/status/106206052323823616">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li>
<li data-id="361ee8da45b1ea4c02112e1f16e7e163">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/MissusSel"><img class="avatar_ext large_avatar" alt="img" src="http://a2.twimg.com/profile_images/1501433014/IMG_0928_normal.JPG">
       <p class="name pts">MissusSel</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/MissusSel/status/106201982045396992">24 months ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/361ee8da45b1ea4c02112e1f16e7e163">↪</a></p>
        <p class="tweet_body pts">RT <a href="http://twitter.com/CentralCityPlan">@CentralCityPlan</a>: 200+ people have already visited <a href="#!/tag/centralcityplan">#centralcityplan</a> Roadshow at Cashmere Club today! Come join us: <a target="_blank" href="http://t.co/X2bEbXQ">http://t.co/X2bEbXQ</a> #eqnz #chch</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/MissusSel/status/106201982045396992">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="361ee8da45b1ea4c02112e1f16e7d4dc">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/CentralCityPlan"><img class="avatar_ext large_avatar" alt="img" src="http://a1.twimg.com/profile_images/1478192079/ccp.facebook_normal.jpg">
       <p class="name pts">CentralCityPlan</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/CentralCityPlan/status/106197441627430913">24 months ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/361ee8da45b1ea4c02112e1f16e7d4dc">↪</a></p>
        <p class="tweet_body pts">200+ people have already visited <a href="#!/tag/centralcityplan">#centralcityplan</a> Roadshow at Cashmere Club today! Come join us: <a target="_blank" href="http://t.co/X2bEbXQ">http://t.co/X2bEbXQ</a> #eqnz #chch</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/CentralCityPlan/status/106197441627430913">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="361ee8da45b1ea4c02112e1f16e55dbb">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/CentralCityPlan"><img class="avatar_ext large_avatar" alt="img" src="http://a1.twimg.com/profile_images/1478192079/ccp.facebook_normal.jpg">
       <p class="name pts">CentralCityPlan</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/CentralCityPlan/status/106136610361450496">24 months ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/361ee8da45b1ea4c02112e1f16e55dbb">↪</a></p>
        <p class="tweet_body pts">Central City Plan Roadshow at Cashmere Club 11am-7pm today: <a target="_blank" href="http://t.co/4PtuX64">http://t.co/4PtuX64</a> #eqnz #chch <a href="#!/tag/centralcityplan">#centralcityplan</a></p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/CentralCityPlan/status/106136610361450496">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="361ee8da45b1ea4c02112e1f16c03ae3">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/WeeeMiss"><img class="avatar_ext large_avatar" alt="img" src="http://a1.twimg.com/profile_images/1428726425/me_normal.jpg">
       <p class="name pts">WeeeMiss</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/WeeeMiss/status/104909789284405248">24 months ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/361ee8da45b1ea4c02112e1f16c03ae3">↪</a></p>
        <p class="tweet_body pts">It's gonna be a long night in Christchurch, more big earthquakes :( #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/WeeeMiss/status/104909789284405248">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="361ee8da45b1ea4c02112e1f16a31789">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/WendyDavie"><img class="avatar_ext large_avatar" alt="img" src="http://a3.twimg.com/profile_images/1233055934/Wendy_Davie_normal.jpeg">
       <p class="name pts">WendyDavie</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/WendyDavie/status/104117997697896448">24 months ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/361ee8da45b1ea4c02112e1f16a31789">↪</a></p>
        <p class="tweet_body pts"><a href="http://twitter.com/kevscotland">@kevscotland</a> Good it was a bit of a fizzer, but a noise all the same here in Cashmere #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/WendyDavie/status/104117997697896448">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="361ee8da45b1ea4c02112e1f160a4c40">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/GuyHorrocks"><img class="avatar_ext large_avatar" alt="img" src="http://a2.twimg.com/profile_images/775235441/twitter_normal.jpg">
       <p class="name pts">GuyHorrocks</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/GuyHorrocks/status/97790351233921024">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/361ee8da45b1ea4c02112e1f160a4c40">↪</a></p>
        <p class="tweet_body pts">Just found out courtesy of <a href="#!/tag/geonet">#geonet</a> that last nights' 3.7 #eqnz which felt violent like a 5+, was centered next door to my house in cashmere!</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/GuyHorrocks/status/97790351233921024">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="87422afca2bfae26317859f545db996e">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/DeborahMRoberts"><img class="avatar_ext large_avatar" alt="img" src="http://a0.twimg.com/profile_images/1141873519/DebbieR_normal.jpg">
       <p class="name pts">DeborahMRoberts</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/DeborahMRoberts/status/93264350806163456">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/87422afca2bfae26317859f545db996e">↪</a></p>
        <p class="tweet_body pts">Holy moly! Absolutely no warning and a serious shake in Cashmere #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/DeborahMRoberts/status/93264350806163456">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="87422afca2bfae26317859f545d988d0">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/DeborahMRoberts"><img class="avatar_ext large_avatar" alt="img" src="http://a0.twimg.com/profile_images/1141873519/DebbieR_normal.jpg">
       <p class="name pts">DeborahMRoberts</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/DeborahMRoberts/status/93222693859635200">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/87422afca2bfae26317859f545d988d0">↪</a></p>
        <p class="tweet_body pts">Weird - big rumble in Cashmere then no shake?! #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/DeborahMRoberts/status/93222693859635200">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="87422afca2bfae26317859f545ab7367">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/serenity22"><img class="avatar_ext large_avatar" alt="img" src="http://a2.twimg.com/profile_images/1225780356/kaz1_normal.jpg">
       <p class="name pts">serenity22</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/serenity22/status/92728440410742784">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/87422afca2bfae26317859f545ab7367">↪</a></p>
        <p class="tweet_body pts"><a href="http://twitter.com/SarahLibrarina">@SarahLibrarina</a> I've been incredibly lucky w lack of damage, but close friends in Cashmere &amp;amp; Mt Pleasant going nuts w comms process! #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/serenity22/status/92728440410742784">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="a3af262b3e70869020009692bdbfbfd8">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/WendyDavie"><img class="avatar_ext large_avatar" alt="img" src="http://a3.twimg.com/profile_images/1233055934/Wendy_Davie_normal.jpeg">
       <p class="name pts">WendyDavie</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/WendyDavie/status/87808906407067648">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/a3af262b3e70869020009692bdbfbfd8">↪</a></p>
        <p class="tweet_body pts">Did not feel anything in cashmere #eqnz glad we moving a bit though :-)</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/WendyDavie/status/87808906407067648">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="7d8884686f209f7dcfc69632d49bd17b">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/Ihaia43"><img class="avatar_ext large_avatar" alt="img" src="http://a2.twimg.com/profile_images/1258785234/image_normal.jpg">
       <p class="name pts">Ihaia43</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/Ihaia43/status/83138034526195712">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/7d8884686f209f7dcfc69632d49bd17b">↪</a></p>
        <p class="tweet_body pts">RT <a href="http://twitter.com/3newsbreaking">@3newsbreaking</a>: Strong aftershock in Christchurch - more details soon. Power out in Ilam possibly. Grand Chanvcellor still standing <a target="_blank" href="http://ow.ly/5mC3h">http://ow.ly/5mC3h</a> #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/Ihaia43/status/83138034526195712">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="7d8884686f209f7dcfc69632d492db5a">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/gillyarcht"><img class="avatar_ext large_avatar" alt="img" src="http://a3.twimg.com/profile_images/799781047/resized_for_twtr_normal.JPG">
       <p class="name pts">gillyarcht</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/gillyarcht/status/83134176894783488">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/7d8884686f209f7dcfc69632d492db5a">↪</a></p>
        <p class="tweet_body pts">RT <a href="http://twitter.com/3newsbreaking">@3newsbreaking</a>: Strong aftershock in Christchurch - more details soon. Power out in Ilam possibly. Grand Chanvcellor still standing <a target="_blank" href="http://ow.ly/5mC3h">http://ow.ly/5mC3h</a> #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/gillyarcht/status/83134176894783488">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="7d8884686f209f7dcfc69632d490e264">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/MiguelDante"><img class="avatar_ext large_avatar" alt="img" src="http://a3.twimg.com/profile_images/695870013/Minifacepic_normal.jpg">
       <p class="name pts">MiguelDante</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/MiguelDante/status/83133405465804800">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/7d8884686f209f7dcfc69632d490e264">↪</a></p>
        <p class="tweet_body pts">RT <a href="http://twitter.com/3newsbreaking">@3newsbreaking</a>: Strong aftershock in Christchurch - more details soon. Power out in Ilam possibly. Grand Chanvcellor still standing <a target="_blank" href="http://ow.ly/5mC3h">http://ow.ly/5mC3h</a> #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/MiguelDante/status/83133405465804800">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="7d8884686f209f7dcfc69632d47ec04c">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/auntiGreen"><img class="avatar_ext large_avatar" alt="img" src="http://a1.twimg.com/profile_images/1404172352/262105_210274305674293_100000751759811_528029_308750_n_normal.jpg">
       <p class="name pts">auntiGreen</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/auntiGreen/status/83128486763577344">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/7d8884686f209f7dcfc69632d47ec04c">↪</a></p>
        <p class="tweet_body pts">RT <a href="http://twitter.com/3newsbreaking">@3newsbreaking</a>: Strong aftershock in Christchurch - more details soon. Power out in Ilam possibly. Grand Chanvcellor still standing <a target="_blank" href="http://ow.ly/5mC3h">http://ow.ly/5mC3h</a> #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/auntiGreen/status/83128486763577344">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="7d8884686f209f7dcfc69632d47a88ab">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/anitasantiago"><img class="avatar_ext large_avatar" alt="img" src="http://a2.twimg.com/profile_images/986642626/DSCF1493_avatar_normal.JPG">
       <p class="name pts">anitasantiago</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/anitasantiago/status/83127548535508992">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/7d8884686f209f7dcfc69632d47a88ab">↪</a></p>
        <p class="tweet_body pts">RT <a href="http://twitter.com/3newsbreaking">@3newsbreaking</a>: Strong aftershock in Christchurch - more details soon. Power out in Ilam possibly. Grand Chanvcellor still standing <a target="_blank" href="http://ow.ly/5mC3h">http://ow.ly/5mC3h</a> #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/anitasantiago/status/83127548535508992">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="7d8884686f209f7dcfc69632d479966c">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/OctaviaSpitfire"><img class="avatar_ext large_avatar" alt="img" src="http://a0.twimg.com/profile_images/1315951211/piglet_small_normal.jpg">
       <p class="name pts">OctaviaSpitfire</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/OctaviaSpitfire/status/83127399973257216">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/7d8884686f209f7dcfc69632d479966c">↪</a></p>
        <p class="tweet_body pts">RT <a href="http://twitter.com/3newsbreaking">@3newsbreaking</a>: Strong aftershock in Christchurch - more details soon. Power out in Ilam possibly. Grand Chanvcellor still standing <a target="_blank" href="http://ow.ly/5mC3h">http://ow.ly/5mC3h</a> #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/OctaviaSpitfire/status/83127399973257216">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="7d8884686f209f7dcfc69632d475950e">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/alalida"><img class="avatar_ext large_avatar" alt="img" src="http://a0.twimg.com/profile_images/1339717589/186184_1621881645_2352138_n_normal.jpg">
       <p class="name pts">alalida</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/alalida/status/83126708659699712">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/7d8884686f209f7dcfc69632d475950e">↪</a></p>
        <p class="tweet_body pts">RT <a href="http://twitter.com/3newsbreaking">@3newsbreaking</a>: Strong aftershock in Christchurch - more details soon. Power out in Ilam possibly. Grand Chanvcellor still standing <a target="_blank" href="http://ow.ly/5mC3h">http://ow.ly/5mC3h</a> #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/alalida/status/83126708659699712">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="7d8884686f209f7dcfc69632d4728dc3">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/matt_moran"><img class="avatar_ext large_avatar" alt="img" src="http://a1.twimg.com/profile_images/1221226764/droopy_000_normal.jpg">
       <p class="name pts">matt_moran</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/matt_moran/status/83126196212211712">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/7d8884686f209f7dcfc69632d4728dc3">↪</a></p>
        <p class="tweet_body pts">Ok enough already !!! RT <a href="http://twitter.com/3NewsEditor">@3NewsEditor</a>: Another strong aftershock in Christchurch - more details soon  #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/matt_moran/status/83126196212211712">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="7d8884686f209f7dcfc69632d46f2ac5">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/kimmar"><img class="avatar_ext large_avatar" alt="img" src="http://a1.twimg.com/profile_images/1352801940/IMG_5100_normal.jpg">
       <p class="name pts">kimmar</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/kimmar/status/83125493590786049">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/7d8884686f209f7dcfc69632d46f2ac5">↪</a></p>
        <p class="tweet_body pts">RT <a href="http://twitter.com/3newsbreaking">@3newsbreaking</a>: Strong aftershock in Christchurch - more details soon. Power out in Ilam possibly. Grand Chanvcellor still standing <a target="_blank" href="http://ow.ly/5mC3h">http://ow.ly/5mC3h</a> #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/kimmar/status/83125493590786049">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li><li data-id="7d8884686f209f7dcfc69632d46d3f7a">
    <div class="media pas tweet">
    
       <a class="img" href="http://www.twitter.com/danatkins"><img class="avatar_ext large_avatar" alt="img" src="http://a0.twimg.com/profile_images/856778033/n507642585_15433_6876_normal.jpg">
       <p class="name pts">danatkins</p>
       </a>
       
      <div class="bd plm">
        <p><a class="lowlight" href="http://twitter.com/danatkins/status/83125194243313664">3 years ago</a> | <a target="_blank" href="/cdb/_utils/document.html?alldb/7d8884686f209f7dcfc69632d46d3f7a">↪</a></p>
        <p class="tweet_body pts">RT <a href="http://twitter.com/3Newseditor">@3Newseditor</a>: Strong aftershock in Christchurch - more details soon. Power out in Ilam possibly. Grand Chanvcellor still standing <a target="_blank" href="http://ow.ly/5mC3x">http://ow.ly/5mC3x</a> #eqnz</p>
        <p class="pvs phm respond"><a class="" href="http://twitter.com/danatkins/status/83125194243313664">Respond &gt;&gt;</a> 
       </p></div>
       
   </div> <!-- /.media -->
</li>
        
</ul>